.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-top: 20px;
  margin: auto;

  .nav-links {
    display: flex;

    .links {
      display: flex;
      transition: all 0.5s ease;
      align-items: center;

      li {
        margin-left: 30px;
        transition: all 0.5s ease;
        list-style: none;
        cursor: pointer;
        font-weight: 500;

        &:hover {
          color: #1aacd1;
        }
      }
    }
  }
  button {
    margin-left: 50px;
    margin-right: 20px;
    background: #1aacd1;
    width: 120px;
    height: 35px;
    border-radius: 20px;
  }
}
