.bg {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;

    .left {
      flex: 1;
      display: flex;
      justify-content: center;

      .content {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          text-align: center;

          h1 {
            font-size: 45px;
            font-weight: bold;
          }
          h3 {
            font-size: 20px;
            margin-top: 15px;
          }
        }
        .btn {
          margin-top: 30px;
          background: #1aacd1;
          padding: 10px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            background: #1aacd1;
            opacity: 0.8;
            transform: scale(1.05);
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 60%;
        height: 60%;

        margin-right: 120px;
      }
    }
  }
  .custom-shape-divider-bottom-1677413383 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1677413383 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
  }

  .custom-shape-divider-bottom-1677413383 .shape-fill {
    fill: #ffffff;
  }
}
